.trades-blotter {
    position: absolute;
    top: 40rem;
    left: 12rem;;
	overflow-y: scroll;
    overflow-x: scroll;
	height: 40rem;
	background: black;
    width: 166rem;
}

.trades-blotter table{
    font-size: 1.4rem;
    border-collapse: collapse;
    white-space: nowrap

}

.trades-blotter thead {
	position: sticky;
    top: 0rem;
    background-color: black;
    z-index: 1;
}

.trades-blotter td {
    padding: 0.2rem 2rem 0.2rem 1.4rem;
    border: 0.1rem solid grey;
    border-left: none;
    border-right: none;
}

.trades-blotter th {
    font-weight: 400;
    padding: 1rem;
}

::-webkit-scrollbar {
	width: 0rem;
    height: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background: grey;
}
